---
import BaseHead from "../components/BaseHead.astro";
import Header from '../components/Header.astro'
import Footer from "../components/Footer.astro";
const allPosts = await Astro.glob('../pages/blog/*.md');
const pageTitle = "Aktualności";
---
<BaseHead />
<Header />
<main>
    <h1>{pageTitle}</h1>
    <ul>
        {allPosts.map((post) => 
            <li>
                <a href={post.url}>
                    <img src={post.frontmatter.heroImage}/>
                    <h2>{post.frontmatter.title}</h2>
                    <p>{post.frontmatter.description}</p>
                </a>
            </li>)}
    </ul>
</main>
<Footer />

<style>
    main {
        width: 900px;
        margin: 0 auto;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        width: 900px;
    }

    h2 {
        color: green;
    }
    img {
        width: 400px;
    }
</style>