---
import type { CollectionEntry } from "astro:content"
import Post from "./Post.astro"
type Props = {
    posts: CollectionEntry<"posts">[]
}
const { posts } = Astro.props
---

<section>
    <h2>Blog</h2>
    <hr>
    <div>
        {posts.map((post) => <Post post={post}/>)}
    </div>
</section>

<style>
    div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    hr {
        border-top: 7px solid #14aaa1;
        margin-bottom: 3em;
        width: 65px;
    }
</style>


    <!-- <h2>Blog</h2>
    <hr>

    <ul class="wrapper">
        {allPosts
        .map((post) => 
                <li class="post-card">
                    <a href={post.url} class="heroImg"><img src={post.frontmatter.image}/></a>
                        <div class="title-date">
                            <a href={post.url} class="title"><h2>{post.frontmatter.title}</h2></a>
                            <span>{post.frontmatter.pubDate}</span>
                        </div>
                        <p class="description">{post.frontmatter.description}</p>
                        <a href={post.url}class="more-info"><span>Więcej</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M6.22 3.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042L9.94 8L6.22 4.28a.75.75 0 0 1 0-1.06"/></svg></a>
                </li>
            ).slice(0,3)}
    </ul> -->

<style>
    svg {
    vertical-align: middle;
    }

    a:hover {
        color: var(--cel);
    }

    section { 
        background-color: #fafafa;
        padding: 6em;
    }
    ul {
        padding-block: 4em;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    .heroImg {
        margin-inline: auto;
    }
    img {
        margin: 0 auto;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3em;
    }
    hr {
        border-top: 7px solid #14aaa1;
        width: 50px;
    }
    .description {
        font-size: 1.4rem;
        color: var(--gray);
    }
    .post-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 344px;
        min-height: 431px;
        border-radius: 16px;
        padding: 1em;

        margin: 0 auto;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .title h2 {
        font-size: 2.2rem;
    }

    .title {
        color: var(--black);
    }

    .title-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }

    .more-info {
        margin-left: auto;
        color: var(--celadon);
    }
    
    img {
        width: 312px;
        height: 232px;
        border-radius: 8px;
        object-fit: cover;
    }

    .post-card:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
    .post-card {
        transition-duration: 0.5s;
    }
</style>