---
const allPosts = await Astro.glob('../pages/blog/*.md');
---

<section>
    <h2>Blog</h2>
    <hr>
    <ul>
        {allPosts.map((post) => 
            <li>
                <a href={post.url}>
                    <img src={post.frontmatter.heroImage}/>
                    <div class="wrapper">
                        <h3>{post.frontmatter.title}</h3>
                        <span>{post.frontmatter.pubDate}</span>
                    </div>
                    <p>{post.frontmatter.description}</p>
                </a>
            </li>)}
    </ul>
</section>

<style>
    
    section { 
        background-color: #fafafa;
        padding: 6em;
    }
    ul {
        padding-block: 4em;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    img {
        width: 300px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    span {
        display: block;
    }
    li {
        margin: 0 auto;
        background-color: rgb(221, 221, 221);
    }
    hr {
        border-top: 7px solid #14aaa1;
        width: 65px;
    }
    li {
        width: 344px;
        height: 431px;
        border-radius: 12px;
        padding: 1em;
    }
    
    a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
    img {
        width: 232px;
    }
    li:hover {
        transform: scale(1.05);
        transform-origin: top;
        transition-duration: 0.5s;
    }
    li {
        transition-duration: 0.5s;
    }
</style>