---
import { type CollectionEntry } from "astro:content"

type Props = {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props
---

<div class="post-card">
    <a href={`/blog/${post.slug}`}>
        <img 
            src ={post.data.image}

            alt={post.data.title}
        />
    </a>
    <a
    href={`/blog/${post.slug}`}
    >
        <h2>
            {post.data.date}
        </h2>
    </a>
    <a
        href={`/blog/${post.slug}`}
    >
        <h2>
            {post.data.title}
        </h2>
    </a>
    <p>
        {post.body}
    </p>
    <a class="show-more" href={`/blog/${post.slug}`}>
        Pokaż więcej
    </a>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 344px;
        min-height: 431px;
        border-radius: 16px;
        padding: 1.1em 1em 2em 1em;

        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        transition-duration: 0.5s;
    }

    div:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

    svg {
    vertical-align: middle;
    }
    h2 {
        font-size: 2rem;
    }
    a { 
        color: var(--black);
    }
    a:hover {
        color: var(--gray);
    }
    h3 {
        font-size: 2rem;
    }
    .description {
        font-size: 1.4rem;
        color: var(--gray);
    }

    .title h2 {
        font-size: 2.2rem;
    }

    .title {
        color: var(--black);
    }

    .title-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }

    .show-more {
        margin-left: auto;
        color: var(--celadon);
    }
    
    img {
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
    }

    .post-card:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
    .post-card {
        transition-duration: 0.5s;
    }

</style>